body { 
    background: rgb(93, 191, 252);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    text-align: center;
    border: 10px solid white ; 
}
div {
    padding: 15px;
    margin: 100px;
}
.rotate180 {
    transform: rotate(180deg);
}